@import './reset';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	background-color: $cDarkNight;
	width: 100%;
	height: 100vh;
	height: 100%;
	display: grid;
	grid-template-columns: 300px 1fr;

	.menu {
		position: relative;
		display: flex;
		flex-direction: column;
		border-right: 1px solid $cDark;
		max-height: 100vh;
		overflow: overlay;

		&::-webkit-scrollbar {
			width: 3px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: #1b1c1f;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: $cYellow;
			border-radius: 5px;
		}

		nav {
			height: 100%;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;

			.back_btn {
				display: flex;
				align-items: center;

				position: sticky;
				bottom: 0;
				padding: 20px;
				background-color: $cDarkNight;

				p {
					color: $cWhite;
					font-size: 1rem;
				}
			}
		}
		.menu__title {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
			min-height: 65px;
			color: #76767a;

			h2 {
				font-size: 1.5rem;
				font-family: $fFont1;
			}
		}
	}

	.layout {
		#char_page {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: calc(100% - 60px);

			h2 {
				color: $cWhite;
				font-size: 2rem;
				margin-top: 30px;
				margin-bottom: 30px;
			}

			.recharts-responsive-container {
				height: calc(100% - 100px) !important;
				:focus {
					outline: none;
				}
			}

			.tooltip {
				border-radius: 0.25rem;
				background: $cDarkNight;
				color: #fff;
				padding: 1rem;
				box-shadow: 15px 30px 40px 5px rgba(0, 0, 0, 0.5);
				text-align: center;
				border: none;
			}
		}
		#home_page {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;

			h1 {
				color: $cWhite;
				font-size: 2rem;
			}
		}
	}
}
