@import './reset';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	background-color: $cWhite;

	.exchange {
		background-color: $cDarkNight;
		width: 100%;
		min-height: 100vh;
		display: grid;
		grid-template-columns: 300px 1fr;

		.menu {
			display: flex;
			flex-direction: column;
			border-right: 1px solid $cDark;

			nav {
				height: 100%;
				border-top-left-radius: 15px;
				border-top-right-radius: 15px;
			}
			.menu__title {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 10px;
				min-height: 65px;
				color: #76767a;

				h2 {
					font-size: 1.5rem;
					font-family: $fFont1;
				}
			}
		}
		.exchange__chart {
			display: flex;
			flex-direction: row;
			align-items: center;
			.recharts-responsive-container {
				height: calc(100% - 100px) !important;
			}
		}
	}

	.tooltip {
		border-radius: 0.25rem;
		background: $cDarkNight;
		color: #fff;
		padding: 1rem;
		box-shadow: 15px 30px 40px 5px rgba(0, 0, 0, 0.5);
		text-align: center;
		border: none;
	}

	.recharts-responsive-container {
		:focus {
			outline: none;
		}
	}
}
